{% macro render_experience_post(post, from_index=false) %}
  <div class="resume-item d-flex flex-fcolumn flex-md-row mb-5">
    <div class="resume-content mr-auto">
    {% if from_index %}
      <h3 class="mb-0">{{ post.role }}</h3>
      <div class="subheading mb-3">{{ post.location }}</div>
      <p>{{ post.description }}</p>
    {% else %}
      <h3 class="mb-0">{{ post.role }}</h3>
      <div class="subheading mb-3">{{ post.location }}</div>
      <p>{{ post.description }}</p>
    {% endif %}
    </div>
    <div class="resume-date text-md-right">
    <span class="text-primary">
      {{ post.start_date|dateformat('long') }} - {{ post.end_date|dateformat('long') }}
    </span>
    </div>  
  </div>
  {% if render_disqus_comments is defined %}
  <br>
  <div class="comments">{{ render_disqus_comments() }}</div>
{% endif %}
{% endmacro %}
